
h2{
  
    height: 50px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    padding-left: 5rem;
    padding-top: 3rem;
    margin: 1rem;
    margin-top: 3rem;
    /* margin: 0 auto; */
}
h3{ 
    height: 50px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    padding-left: 5rem;
    padding-top: 3rem;
    margin: 1rem;
    margin-top: 3rem;
}
#sat{
    margin-right: 3rem;
}
span{
    margin-left: 3rem;
}