/* [href]{
    color:brown;
} */
/* img[src*='winter'] {
    height: 50px;
  }
    */
/* button:hover{
    background-color: red;
} */
/* #h2{
    color:blue ;
} */
/* .h1{
    color:red;
} */
/* h1{
    color:yellow;
} */
/* h1.special{
    color:yellow;
} */
/* section>p{
    color:yellow;
} */
/* h1{
    color:yellow;
}
h1{
    color:red;
} */
/* h1{
 color:rgba(5, 139, 5,1);
} */
/* h1{
    color: #8FBC8F;
   } */
   /* h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   } */
   /* h1{
    font-weight: normal;
    } */
    /* h1{
       font-style: italic;
        } */
        /* h1{
           font-size: small;
             } */
             /* h1{
               text-transform: capitalize;
                 } */
/* h1{
  letter-spacing: 10px;
  }                */
  /* h1{
    word-spacing: 10px;
    }         
  */
  /* h1{
    text-align: right;
  } */